<p>hello</p>

<div>
	<p>The Internet is a wonderful place to get lost on. A million slices of me distributed across myriad social networks, blogs* long since abandoned and overgrown with neglect and numerous photo sharing sites where I count my ‘likes’ like Ebenezer Scrooge with his coin purse. I have spread the debris of my mind along many virtual trails leading back in time but forever caught in a virtual eternity; breadcrumbs of ones and zeros leading through a massive electronic forest mostly populated by man’s desire to procreate.</p>

	<p>Who am I? I am a man, a father, a husband, a writer, a photographer, a technology pundit, a player of games and a juggler of words. I am all of these things and none of them. The 3-dimensional point in space I choose to inhabit happily corresponds with beautiful Melbourne in Australia. It, by virtue of things called time-zones, exists perpetually in the future which is great on New Year’s Eve but really annoying for American product launches. The only downside, excuse the pun, is that living in the Southern Hemisphere means you need to hang onto things pretty tightly to avoid falling off the bottom of the world.
<br>
	Stuart</p>

	<p>* Blog: I still have trouble with the word blog. Every time I write it or hear it I get a mental image of Gollum coughing up a fishbone. ‘Blog, blog, oooh, my precioussssss, blog!’ There are some things which, once seen or heard, cannot be undone. I share with you your new mental image of the word blog.</p>
</div>

	