<div class="container-fluid">
<div class="row-fluid">
<div class="span2">
&nbsp;
</div>

	<div class="span8">
	<div class="hero-unit">
	
	<h3>Editing product</h3>

	<%= render 'form' %>

	<%= link_to 'Show', @product %> |
	<%= link_to 'Back', products_path %>

</div>
</div>
<div class="span2">
&nbsp;
</div>